In [1]:
import numpy as np
import pandas as pd

In [2]:
from dateutil.parser import parse

In [4]:
df = pd.read_csv('Contracts_new.csv')

In [5]:
df.head()

,MUNICIPALITY,YEAR_CONTRACT,MONTH_CONTRACT,DAY_ALTA_CONTR,CENSUS SECTION,WATER_USAGE,TYPE_OF_HOUSEHOLD,NUMBER_OF_CONTRACTS
0,BADALONA,2016,jan.,1,801509017,HOUSEHOLD,D,1
1,GAVA,2016,jan.,1,808901007,HOUSEHOLD,W,1
2,STA.COLOMA GRAMENET,2016,jan.,1,824504004,HOUSEHOLD,B,1
3,STA.COLOMA GRAMENET,2016,jan.,1,824502002,HOUSEHOLD,B,1
4,L'HOSPITALET LLOBR.,2016,jan.,2,810103006,HOUSEHOLD,C,1

In [16]:
l = []
for i in df.index:
    l.append(parse(str(df.iloc[i,1]) +' '+ str(df.iloc[i,2]) +' '+ str(df.iloc[i,3])).date())

ValueError: Unknown string format

In [25]:
dt = ['YEAR_CONTRACT','MONTH_CONTRACT','DAY_ALTA_CONTR']
df = df.dropna(subset=[dt])

In [27]:
df2 = df.reset_index(drop=True)

In [30]:
l2 = []
val_l2 = {"aaDate": l2}
l2_val = pd.DataFrame(data=val_l2)
dat1 = pd.concat([l2_val, df2], axis=1)

In [35]:
dat1.head()

,aaDate,MUNICIPALITY,YEAR_CONTRACT,MONTH_CONTRACT,DAY_ALTA_CONTR,CENSUS SECTION,WATER_USAGE,TYPE_OF_HOUSEHOLD,NUMBER_OF_CONTRACTS
0,NaN,BADALONA,2016,jan.,1,801509017,HOUSEHOLD,D,1
1,NaN,GAVA,2016,jan.,1,808901007,HOUSEHOLD,W,1
2,NaN,STA.COLOMA GRAMENET,2016,jan.,1,824504004,HOUSEHOLD,B,1
3,NaN,STA.COLOMA GRAMENET,2016,jan.,1,824502002,HOUSEHOLD,B,1
4,NaN,L'HOSPITALET LLOBR.,2016,jan.,2,810103006,HOUSEHOLD,C,1

In [36]:
i=1;
parse(str(df.iloc[i,1]) +' '+ str(df.iloc[i,2]) +' '+ str(df.iloc[i,3])).date()

datetime.date(2016, 1, 1)

In [37]:
#dat1.head()
for i in dat1.index:
    dat1.iloc[i,0] = parse(str(dat1.iloc[i,2]) +' '+ str(dat1.iloc[i,3]) +' '+ str(dat1.iloc[i,4])).date()

KeyboardInterrupt:

In [ ]:
dat1.to_csv("new_with_date.csv",index=False)

In [38]:
dfold = pd.read_csv('Contracts_end.csv')
dt = ['MONTH_END_CONTRACT','MONTH_END_CONTRACT','DAY_END_CONTRACT']
dfold = dfold.dropna(subset=[dt])
dfold = dfold.reset_index(drop=True)
l3 = []
val_l3 = {"aaDate": l3}
l3_val = pd.DataFrame(data=val_l3)
dat2 = pd.concat([l3_val, dfold], axis=1)

for i in dat2.index:
    dat2.iloc[i,0] = parse(str(dat2.iloc[i,2]) +' '+ str(dat2.iloc[i,3]) +' '+ str(dat2.iloc[i,4])).date()

dat2.to_csv("end_with_date.csv",index=False)

In [39]:
dfnew = pd.read_csv('Contracts_new.csv')
dt = ['YEAR_CONTRACT','MONTH_CONTRACT','DAY_ALTA_CONTR']
dfnew = dfnew.dropna(subset=[dt])
dfnew = dfnew.reset_index(drop=True)
l4 = []
val_l4 = {"aaDate": l4}
l4_val = pd.DataFrame(data=val_l4)
dat3 = pd.concat([l4_val, dfnew], axis=1)

for i in dat3.index:
    dat3.iloc[i,0] = parse(str(dat3.iloc[i,2]) +' '+ str(dat3.iloc[i,3]) +' '+ str(dat3.iloc[i,4])).date()

dat3.to_csv("new_with_date.csv",index=False)