In [39]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import VotingClassifier
from sklearn.externals import joblib
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import log_loss

In [40]:
CI = pd.read_csv("sol_CI.csv")
FI= pd.read_csv("sol_FI.csv")
FAI= pd.read_csv("sol_FAI.csv")
IR= pd.read_csv("sol_IR.csv")
IM= pd.read_csv("sol_IM.csv")
MI= pd.read_csv("sol_MI.csv")
MR= pd.read_csv("sol_MR.csv")
TI= pd.read_csv("sol_TI.csv")
WI= pd.read_csv("sol_WI.csv")
VI = pd.read_csv("sol_VI.csv")

In [41]:
frames = [CI, FI, FAI,IR,IM,MI,MR,TI,WI,VI]

result = pd.concat(frames)

In [42]:
result.head()

      Contacts   ID
0  2911.314668  149
1  2911.314668  150
2  2911.314668  151
3  2911.314668  152
4  2911.314668  153

In [43]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 740 entries, 0 to 73
Data columns (total 2 columns):
Contacts    740 non-null float64
ID          740 non-null int64
dtypes: float64(1), int64(1)
memory usage: 17.3 KB

In [44]:
result.sort_values(by = 'ID')

     Contacts   ID
0   91.853587    1
1   91.853587    2
2   91.853587    3
3   91.853587    4
4   91.853587    5
5   91.853587    6
6   91.853587    7
7   91.853587    8
8   91.853587    9
9   91.853587   10
10  91.853587   11
11  91.853587   12
12  91.853587   13
13  91.853587   14
14  91.853587   15
15  91.853587   16
16  91.853587   17
17  91.853587   18
18  91.853587   19
19  91.853587   20
20  91.853587   21
21  91.853587   22
22  91.853587   23
23  91.853587   24
24  91.853587   25
25  91.853587   26
26  91.853587   27
27  91.853587   28
28  91.853587   29
29  91.853587   30
..        ...  ...
44   1.143836  711
45   1.143836  712
46   1.143836  713
47   1.143836  714
48   1.143836  715
49   1.143836  716
50   1.143836  717
51   1.143836  718
52   1.143836  719
53   1.143836  720
54   1.143836  721
55   1.143836  722
56   1.143836  723
57   1.143836  724
58   1.143836  725
59   1.143836  726
60   1.143836  727
61   1.143836  728
62   1.143836  729
63   1.143836  730
64   1.143836  731
65   1.143836  732
66   1.143836  733
67   1.143836  734
68   1.143836  735
69   1.143836  736
70   1.143836  737
71   1.143836  738
72   1.143836  739
73   1.143836  740

[740 rows x 2 columns]

In [45]:
result.to_csv("Contacts1.csv",index=False)

In [18]:
df2 = pd.read_csv('Contacts2017.csv')

In [20]:
df2.head()

         Date     CONTACT.TYPE  Contacts  ID
0  2017-01-01  Mail - Recieved       NaN   1
1  2017-01-02  Mail - Recieved       NaN   2
2  2017-01-03  Mail - Recieved       NaN   3
3  2017-01-04  Mail - Recieved       NaN   4
4  2017-01-05  Mail - Recieved       NaN   5

In [23]:
df2.drop(['Contacts'],axis=1,inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 2 columns):
Date    740 non-null object
ID      740 non-null int64
dtypes: int64(1), object(1)
memory usage: 11.6+ KB

In [24]:
df3 = pd.merge(df2, result, how='outer', on='ID', sort=True)

In [25]:
df3.head()

         Date  ID   Contacts
0  2017-01-01   1  91.853587
1  2017-01-02   2  91.853587
2  2017-01-03   3  91.853587
3  2017-01-04   4  91.853587
4  2017-01-05   5  91.853587

In [26]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 740 entries, 0 to 739
Data columns (total 3 columns):
Date        740 non-null object
ID          740 non-null int64
Contacts    666 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.1+ KB

In [29]:
df3 = df3.fillna(1)

In [30]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 740 entries, 0 to 739
Data columns (total 3 columns):
Date        740 non-null object
ID          740 non-null int64
Contacts    740 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.1+ KB

In [31]:
df3.to_csv("C_sol.csv")

In [35]:
df4 = df3[['Contacts','ID']]
df4.to_csv("C_sol.csv",index=False)

In [38]:
df5 = pd.read_csv('Contacts2017.csv')
df5.iloc[350,]

Date            2017-02-24
CONTACT.TYPE         Visit
Contacts               NaN
ID                     351
Name: 350, dtype: object

In [48]:
result['Contacts'] = result['Contacts'].apply(lambda x: round(x))

In [50]:
result = result.sort_values(by = 'ID') 
result.head()

   Contacts  ID
0      92.0   1
1      92.0   2
2      92.0   3
3      92.0   4
4      92.0   5

In [51]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 740 entries, 0 to 73
Data columns (total 2 columns):
Contacts    740 non-null float64
ID          740 non-null int64
dtypes: float64(1), int64(1)
memory usage: 17.3 KB

In [52]:
result.to_csv("Contacts2.csv",index=False)

In [54]:
VI2 = pd.read_csv("sol_VI2.csv")
frames = [CI, FI, FAI,IR,IM,MI,MR,TI,WI,VI2]

result = pd.concat(frames)
result.sort_values(by = 'ID') 
result['Contacts'] = result['Contacts'].apply(lambda x: round(x))
result = result.sort_values(by = 'ID') 
result.head()
result.to_csv("Contacts3.csv",index=False)